
<div class="flex-shrink-0 p-3 bg-white " style="width: 280px" >
  <a class="navbar-brand h-2" href="/home">i-Techco</a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <a
        href="/home"
        class="btn btn-toggle rounded align-items-center collapsed"
      >
        Trang chủ
      </a>
      <div class="collapse" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <!-- <li><a href="#" class="link-dark rounded">Reports</a></li> -->
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#hr-collapse"
        aria-expanded="true"
      >
        Quản lý
      </button>
      <div class="collapse" id="hr-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a href="/manage/projects" class="link-dark rounded">Dự án</a>
          </li>
          <li>
            <a href="/manage/users" class="link-dark rounded"
              >Nhân sự</a
            >
          </li>
          <li>
            <a href="/manage/finance" class="link-dark rounded"
              >Tài chính</a
            >
          </li>
          
          <!-- <li><a href="#" class="link-dark rounded">Reports</a></li> -->
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#prf-collapse"

      >
        <span> <%= currentUser.name %> </span>
        <span class="px-2">
          <img
            src="/uploads/<%= currentUser.getavatar().fileDir %>/<%= currentUser.getavatar().fileName %>"
            alt="user-image"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </span>
      </button>
      <div class="collapse" id="prf-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a href="/users/<%= currentUser.id %>" class="link-dark rounded"
              >Hồ sơ</a
            >
          </li>
          <li>
            <a
              href="/users/<%= currentUser.id %>/edit"
              class="link-dark rounded"
              >Cài đặt</a
            >
          </li>
          <li>
            <form action="/logout" method="POST"></form>
            <a onclick="this.previousElementSibling.submit()">Đăng xuất</a>
          </li>
          <!-- <li><a href="#" class="link-dark rounded">Reports</a></li> -->
        </ul>
      </div>
    </li>

    <!-- <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Dashboard
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Overview</a></li>
          <li><a href="#" class="link-dark rounded">Weekly</a></li>
          <li><a href="#" class="link-dark rounded">Monthly</a></li>
          <li><a href="#" class="link-dark rounded">Annually</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Orders
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New</a></li>
          <li><a href="#" class="link-dark rounded">Processed</a></li>
          <li><a href="#" class="link-dark rounded">Shipped</a></li>
          <li><a href="#" class="link-dark rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New...</a></li>
          <li><a href="#" class="link-dark rounded">Profile</a></li>
          <li><a href="#" class="link-dark rounded">Settings</a></li>
          <li><a href="#" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li> -->
  </ul>
</div>
