<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HTK-asia</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/custom/css/styles.css" />
  <script src="/jquery.js" ></script>
  <link rel="stylesheet" href="/datatable/datatable.css">
  <script src="/datatable/datatable.js"></script>
  <link href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body class="d-flex flex-column vh-100">
  <%- include('../partials/header')%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-lg-2 collapse show" id="sideBar">
          <%- include('../partials/sidebar') %>
        </div>

        <main class="col" style="height: 100%" id="main">
          <%- include('../partials/flash') %><%- body %>
        </main>
      </div>
    </div>
    <%- include('../partials/footer')%>
    
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- 
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script> -->
</body>

</html>